<div class="sidebar">
  <div class="logo">
    <a class="simple-text logo-normal" routerLink="/"></a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="announcementlist">
          <i class="material-icons">list</i>
          <p>Announcements</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="books">
          <i class="material-icons">book</i>
          <p>Books</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">
          <i class="material-icons">copyright</i>
          <p>About</p>
        </a>
      </li>
    </ul>
  </div>
</div>
