<app-navigation></app-navigation>
<br>
<br>
<br>
<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Sign in</h1>
      <span>with your login and password</span>
      <form (ngSubmit)="login()" [formGroup]="loginGroup" class="form-horizontal">
        <div class="form-group">
          <input class="form-control" formControlName="username" id="username" maxlength="25"
                 required type="text" placeholder="Username">
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="password" id="password"
                 maxlength="25" required type="password" placeholder="Password">
        </div>
        <div class="form-group">
          <button [disabled]="loginGroup.invalid" type="submit" routerLink="/login">Sign in
          </button>
        </div>
        <div *ngIf="isError" class="alert alert-danger text-center" role="alert">
          Username or password is incorrect!
        </div>
        <div class="form-group forgot-pass">
          <a routerLink="/recover">Forgot password?</a>
        </div>
      </form>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" id="signUp" type="submit" routerLink="/register">Sign Up</button>
      </div>
    </div>
  </div>
</div>
