<div class="navigation">
  <app-navigation></app-navigation>
  <router-outlet></router-outlet>
</div>
<div class="announcement">
  <ul class="list-rectangle">
    <li *ngFor="let announcement of announcements">
      <div>Information: {{announcement.description}}</div>
      <div>Date of event: {{announcement.date | date:'yyyy-MM-dd'}}</div>
      <div class="btn btn-primary">
        <a class="ann" [routerLink]="['/books/book', announcement.bookId]">More about book</a>
      </div>
    </li>
  </ul>
</div>
