<app-navigation></app-navigation>
<app-sidebar></app-sidebar>
<div style="padding-top: 67px; margin-left: 300px">
  <h2>Hello, {{username}}!</h2>
  <h3>I'm Koval Rostyslav.</h3>
  <h3>Thanks for visiting this website.</h3>
  <h3>This project is a free access online library.</h3>
  <h3>It's supposed to be mine bachelor diploma work at</h3>
  <h3>National Technical University of Ukraine “Igor Sikorsky Kyiv Polytechnic Institute”.</h3>
  <br>
  <h3>Contact me:</h3>
  <a href="mailto:kovalr2000@gmail.com" class="fa fa-google"></a>
  <a href="https://github.com/smithros" class="fa fa-github"></a>
  <a href="https://www.linkedin.com/in/smithros/" class="fa fa-linkedin"></a>
  <a href="https://www.instagram.com/_smithr_/" class="fa fa-instagram"></a>
  <a href="https://steamcommunity.com/profiles/76561198153924957/" class="fa fa-steam"></a>
  <h3>Github project link: <a href="https://github.com/smithros">booknet</a></h3>
</div>
