<app-navigation></app-navigation>


<div style="padding-top: 67px; margin-left: 260px">
<h2>This project is an online library that supposed to be</h2>
  <h2>a bachelor work of Rostyslav Koval:</h2>
  <br>
  <h3>Contact me:</h3>
  <br>
  <a href="mailto:kovalr2000@gmail.com" class="fa fa-google"></a>
  <a href="https://github.com/smithros" class="fa fa-github"></a>
  <a href="https://www.linkedin.com/in/smithros/" class="fa fa-linkedin"></a>
  <a href="https://www.instagram.com/_smithr_/" class="fa fa-instagram"></a>
  <a href="https://steamcommunity.com/profiles/76561198153924957/" class="fa fa-steam"></a>
  <h3>Github project link: </h3>
  <a href="https://github.com/smithros">booknet</a>
</div>
