<app-navigation></app-navigation>
<app-sidebar></app-sidebar>
<div class="content">
  <div class="ml-5 mr-5">
    <div *ngIf="search">
      <h3>Search results for: {{search}}</h3>
    </div>
    <div *ngIf="userModel" class="user-search card">
      <div class="card-header-primary">Users</div>
      <div class="card-body">
        <div class="row justify-content-around">
          <div *ngFor="let user of userModel" class="col-md-3 users-list mx-1 my-1">
            <p>{{user.userName}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="book-search">

    </div>
    <div *ngIf="!userModel">
      <h3>Nothing found!</h3>
    </div>
  </div>
</div>
